/* 
 * Note: We use !important in order to replace the inline style given by Material UI
 * for further understanding see: https://www.material-ui.com/#/customization/styles
 */

.app-navbar {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
}
