.footer {
  background: #061F29;
  font-size: 22px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
}

.footer ul {
  list-style: none;
}

.footer p {
  text-align: center;
  font-size: 15px;
  color: white;
}

.footer ul a {
  color: white;
}
.footer ul a:hover {
  color: #F5F0F4;
}